# Classification On California Census Data

Find who won less or equal to 50k$

In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
# Create the data frame with the California Census Data
df = pd.read_csv("census_data.csv")

In [3]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,32561.0,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
education_num,32561.0,10.080679,2.572720,1.0,9.0,10.0,12.0,16.0
capital_gain,32561.0,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital_loss,32561.0,87.303830,402.960219,0.0,0.0,0.0,0.0,4356.0
hours_per_week,32561.0,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
age               32561 non-null int64
workclass         32561 non-null object
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income_bracket    32561 non-null object
dtypes: int64(5), object(9)
memory usage: 3.5+ MB

In [6]:
df["income_bracket"].unique()

array([' <=50K', ' >50K'], dtype=object)

In [7]:
# Change the target value for 0 and 1

df["income_bracket"] = df["income_bracket"].apply(lambda x: 0 if x == ' <=50K' else 1)

In [8]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [9]:
# Train test split the data

from sklearn.model_selection import train_test_split

X = df.drop("income_bracket", axis=1)

y = df["income_bracket"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [10]:
# Create a list of the features
feat_cols = X_train.columns

In [11]:
# Separate the categorical cols to the numerical ones

# numerical
num_cols = []

# Categorical
cat_cols = []

for col in feat_cols:
    if X_train[col].dtype == "object":
        cat_cols.append(col)
    else:
        num_cols.append(col)
        
print("Numerical:",num_cols)
print("\n")
print("Categorical:",cat_cols)

Numerical: ['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']


Categorical: ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'gender', 'native_country']

In [12]:
# Create the tf objects for every columns
feat_cols = []

# Transform the categorical value with hash bucket 
for col in cat_cols:
    
    uniqueValue = len(X_train[col].unique())
    
    # Using hashbucket
    exec(f"{col} = tf.feature_column.categorical_column_with_hash_bucket({'col'}, hash_bucket_size={uniqueValue})")
    
    # create embedded columns out of the cateogrical feature
    exec(f"{col} = tf.feature_column.embedding_column({col}, dimension={uniqueValue})")

    exec(f"feat_cols.append({col})")

# Create the numerical columns tf.feature_columns
for col in num_cols:
    
    exec(f"{col} = tf.feature_column.numeric_column('{col}')")
    
    exec(f"feat_cols.append({col})")

In [13]:
feat_cols

[_EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='workclass', hash_bucket_size=9, dtype=tf.string), dimension=9, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132ace80>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='education', hash_bucket_size=16, dtype=tf.string), dimension=16, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132aceb8>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='marital_status', hash_bucket_size=7, dtype=tf.string), dimension=7, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132acef0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='occupation', hash_bucket_size=15, dtype=tf.string), dimension=15, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132acf28>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='relationship', hash_bucket_size=6, dtype=tf.string), dimension=6, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132acf60>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='race', hash_bucket_size=5, dtype=tf.string), dimension=5, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132acfd0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='gender', hash_bucket_size=2, dtype=tf.string), dimension=2, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132ae048>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='native_country', hash_bucket_size=42, dtype=tf.string), dimension=42, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a132ae0b8>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='education_num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='hours_per_week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [14]:
# Create the tuning parameters

batchSize=100
numEpochs = 20000
numSteps = 10000
hiddenUnit = [10,20,10]
dropOut = 0.01

In [15]:
# Create the input function
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=batchSize, 
                                                 num_epochs=numEpochs, shuffle=True)

In [16]:
# Initialize the classifier (DNNClassifier)

clf = tf.estimator.DNNClassifier(hidden_units=hiddenUnit, feature_columns=feat_cols, dropout=dropOut)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpfaaji72k
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpfaaji72k', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [17]:
# Train the model on the test_datas
clf.train(input_fn=input_func, steps=numSteps)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpfaaji72k/model.ckpt.
INFO:tensorflow:loss = 516.378, step = 1
INFO:tensorflow:global_step/sec: 136.401
INFO:tensorflow:loss = 77.8297, step = 101 (0.735 sec)
INFO:tensorflow:global_step/sec: 125.904
INFO:tensorflow:loss = 40.4072, step = 201 (0.794 sec)
INFO:tensorflow:global_step/sec: 135.367
INFO:tensorflow:loss = 41.9062, step = 301 (0.739 sec)
INFO:tensorflow:global_step/sec: 159.399
INFO:tensorflow:loss = 25.5706, step = 401 (0.628 sec)
INFO:tensorflow:global_step/sec: 165.253
INFO:tensorflow:loss = 38.7525, step = 501 (0.605 sec)
INFO:tensorflow:global_step/sec: 166.487
INFO:tensorflow:loss = 46.8524, step = 601 (0.600 sec)
INFO:tensorflow:global_step/sec: 158.017
INFO:tensorflow:loss = 51.0231, step = 701 (0.633 sec)
INFO:tensorflow:global_step/sec: 131.746
INFO:tensorflow:loss = 37.8636, step = 801 (0.759 sec)
INFO:tensorflow:global_step/sec: 125.422
INFO:tensorflow:loss = 34.478, step = 901 (0.798 sec)
INFO:tensorflow:global_step/sec: 148.415
INFO:tensorflow:loss = 45.7729, step = 1001 (0.674 sec)
INFO:tensorflow:global_step/sec: 155.302
INFO:tensorflow:loss = 43.4083, step = 1101 (0.644 sec)
INFO:tensorflow:global_step/sec: 159.972
INFO:tensorflow:loss = 50.4441, step = 1201 (0.625 sec)
INFO:tensorflow:global_step/sec: 152.966
INFO:tensorflow:loss = 36.3262, step = 1301 (0.654 sec)
INFO:tensorflow:global_step/sec: 150.968
INFO:tensorflow:loss = 36.4474, step = 1401 (0.662 sec)
INFO:tensorflow:global_step/sec: 150.844
INFO:tensorflow:loss = 37.1966, step = 1501 (0.664 sec)
INFO:tensorflow:global_step/sec: 158.359
INFO:tensorflow:loss = 42.5121, step = 1601 (0.631 sec)
INFO:tensorflow:global_step/sec: 159.384
INFO:tensorflow:loss = 38.3309, step = 1701 (0.627 sec)
INFO:tensorflow:global_step/sec: 158.47
INFO:tensorflow:loss = 42.8844, step = 1801 (0.631 sec)
INFO:tensorflow:global_step/sec: 154.908
INFO:tensorflow:loss = 45.2497, step = 1901 (0.645 sec)
INFO:tensorflow:global_step/sec: 163.699
INFO:tensorflow:loss = 36.0997, step = 2001 (0.611 sec)
INFO:tensorflow:global_step/sec: 161.841
INFO:tensorflow:loss = 43.5093, step = 2101 (0.618 sec)
INFO:tensorflow:global_step/sec: 159.1
INFO:tensorflow:loss = 37.9884, step = 2201 (0.629 sec)
INFO:tensorflow:global_step/sec: 167.096
INFO:tensorflow:loss = 38.5545, step = 2301 (0.598 sec)
INFO:tensorflow:global_step/sec: 128.091
INFO:tensorflow:loss = 38.0681, step = 2401 (0.781 sec)
INFO:tensorflow:global_step/sec: 122.169
INFO:tensorflow:loss = 55.9222, step = 2501 (0.819 sec)
INFO:tensorflow:global_step/sec: 146.618
INFO:tensorflow:loss = 41.7804, step = 2601 (0.682 sec)
INFO:tensorflow:global_step/sec: 163.257
INFO:tensorflow:loss = 50.3799, step = 2701 (0.612 sec)
INFO:tensorflow:global_step/sec: 160.845
INFO:tensorflow:loss = 41.9602, step = 2801 (0.622 sec)
INFO:tensorflow:global_step/sec: 154.59
INFO:tensorflow:loss = 52.5326, step = 2901 (0.647 sec)
INFO:tensorflow:global_step/sec: 154.311
INFO:tensorflow:loss = 40.5492, step = 3001 (0.649 sec)
INFO:tensorflow:global_step/sec: 141.462
INFO:tensorflow:loss = 33.621, step = 3101 (0.706 sec)
INFO:tensorflow:global_step/sec: 130.667
INFO:tensorflow:loss = 42.536, step = 3201 (0.766 sec)
INFO:tensorflow:global_step/sec: 128.64
INFO:tensorflow:loss = 50.6831, step = 3301 (0.777 sec)
INFO:tensorflow:global_step/sec: 145.143
INFO:tensorflow:loss = 40.9559, step = 3401 (0.689 sec)
INFO:tensorflow:global_step/sec: 151.502
INFO:tensorflow:loss = 46.8587, step = 3501 (0.660 sec)
INFO:tensorflow:global_step/sec: 154.921
INFO:tensorflow:loss = 41.7516, step = 3601 (0.646 sec)
INFO:tensorflow:global_step/sec: 169.692
INFO:tensorflow:loss = 37.3629, step = 3701 (0.589 sec)
INFO:tensorflow:global_step/sec: 164.529
INFO:tensorflow:loss = 48.5443, step = 3801 (0.608 sec)
INFO:tensorflow:global_step/sec: 160.858
INFO:tensorflow:loss = 30.9533, step = 3901 (0.622 sec)
INFO:tensorflow:global_step/sec: 160.307
INFO:tensorflow:loss = 45.7128, step = 4001 (0.624 sec)
INFO:tensorflow:global_step/sec: 126.759
INFO:tensorflow:loss = 44.7284, step = 4101 (0.789 sec)
INFO:tensorflow:global_step/sec: 150.841
INFO:tensorflow:loss = 37.1285, step = 4201 (0.663 sec)
INFO:tensorflow:global_step/sec: 164.185
INFO:tensorflow:loss = 45.1899, step = 4301 (0.609 sec)
INFO:tensorflow:global_step/sec: 152.674
INFO:tensorflow:loss = 40.4084, step = 4401 (0.655 sec)
INFO:tensorflow:global_step/sec: 149.115
INFO:tensorflow:loss = 41.244, step = 4501 (0.671 sec)
INFO:tensorflow:global_step/sec: 133.326
INFO:tensorflow:loss = 31.8083, step = 4601 (0.751 sec)
INFO:tensorflow:global_step/sec: 143.308
INFO:tensorflow:loss = 42.5105, step = 4701 (0.697 sec)
INFO:tensorflow:global_step/sec: 163.159
INFO:tensorflow:loss = 56.4189, step = 4801 (0.613 sec)
INFO:tensorflow:global_step/sec: 165.569
INFO:tensorflow:loss = 32.2995, step = 4901 (0.604 sec)
INFO:tensorflow:global_step/sec: 165.999
INFO:tensorflow:loss = 34.9527, step = 5001 (0.602 sec)
INFO:tensorflow:global_step/sec: 165.687
INFO:tensorflow:loss = 43.3208, step = 5101 (0.604 sec)
INFO:tensorflow:global_step/sec: 164.218
INFO:tensorflow:loss = 44.1021, step = 5201 (0.609 sec)
INFO:tensorflow:global_step/sec: 161.613
INFO:tensorflow:loss = 45.308, step = 5301 (0.618 sec)
INFO:tensorflow:global_step/sec: 162.519
INFO:tensorflow:loss = 37.9305, step = 5401 (0.616 sec)
INFO:tensorflow:global_step/sec: 164.934
INFO:tensorflow:loss = 32.5072, step = 5501 (0.606 sec)
INFO:tensorflow:global_step/sec: 164.606
INFO:tensorflow:loss = 43.1676, step = 5601 (0.608 sec)
INFO:tensorflow:global_step/sec: 161.115
INFO:tensorflow:loss = 37.563, step = 5701 (0.620 sec)
INFO:tensorflow:global_step/sec: 162.191
INFO:tensorflow:loss = 40.6849, step = 5801 (0.617 sec)
INFO:tensorflow:global_step/sec: 163.32
INFO:tensorflow:loss = 51.5371, step = 5901 (0.612 sec)
INFO:tensorflow:global_step/sec: 162.619
INFO:tensorflow:loss = 55.1179, step = 6001 (0.615 sec)
INFO:tensorflow:global_step/sec: 163.032
INFO:tensorflow:loss = 36.6751, step = 6101 (0.613 sec)
INFO:tensorflow:global_step/sec: 164.902
INFO:tensorflow:loss = 46.2359, step = 6201 (0.606 sec)
INFO:tensorflow:global_step/sec: 143.818
INFO:tensorflow:loss = 30.6096, step = 6301 (0.695 sec)
INFO:tensorflow:global_step/sec: 141.122
INFO:tensorflow:loss = 40.2429, step = 6401 (0.709 sec)
INFO:tensorflow:global_step/sec: 165.762
INFO:tensorflow:loss = 33.5431, step = 6501 (0.604 sec)
INFO:tensorflow:global_step/sec: 160.693
INFO:tensorflow:loss = 37.77, step = 6601 (0.622 sec)
INFO:tensorflow:global_step/sec: 164.012
INFO:tensorflow:loss = 34.0468, step = 6701 (0.610 sec)
INFO:tensorflow:global_step/sec: 160.107
INFO:tensorflow:loss = 45.0094, step = 6801 (0.625 sec)
INFO:tensorflow:global_step/sec: 130.452
INFO:tensorflow:loss = 39.7147, step = 6901 (0.766 sec)
INFO:tensorflow:global_step/sec: 151.16
INFO:tensorflow:loss = 26.3145, step = 7001 (0.662 sec)
INFO:tensorflow:global_step/sec: 159.748
INFO:tensorflow:loss = 34.4381, step = 7101 (0.625 sec)
INFO:tensorflow:global_step/sec: 160.634
INFO:tensorflow:loss = 40.0643, step = 7201 (0.623 sec)
INFO:tensorflow:global_step/sec: 164.26
INFO:tensorflow:loss = 30.5501, step = 7301 (0.608 sec)
INFO:tensorflow:global_step/sec: 162.941
INFO:tensorflow:loss = 32.777, step = 7401 (0.614 sec)
INFO:tensorflow:global_step/sec: 163.297
INFO:tensorflow:loss = 45.0323, step = 7501 (0.612 sec)
INFO:tensorflow:global_step/sec: 165.303
INFO:tensorflow:loss = 35.4077, step = 7601 (0.605 sec)
INFO:tensorflow:global_step/sec: 164.782
INFO:tensorflow:loss = 42.3505, step = 7701 (0.607 sec)
INFO:tensorflow:global_step/sec: 162.226
INFO:tensorflow:loss = 32.3632, step = 7801 (0.616 sec)
INFO:tensorflow:global_step/sec: 158.493
INFO:tensorflow:loss = 44.4733, step = 7901 (0.631 sec)
INFO:tensorflow:global_step/sec: 152.626
INFO:tensorflow:loss = 44.9572, step = 8001 (0.655 sec)
INFO:tensorflow:global_step/sec: 137.591
INFO:tensorflow:loss = 32.5933, step = 8101 (0.727 sec)
INFO:tensorflow:global_step/sec: 163.405
INFO:tensorflow:loss = 39.8271, step = 8201 (0.612 sec)
INFO:tensorflow:global_step/sec: 152.138
INFO:tensorflow:loss = 46.8825, step = 8301 (0.657 sec)

INFO:tensorflow:global_step/sec: 162.332
INFO:tensorflow:loss = 39.3632, step = 8401 (0.615 sec)
INFO:tensorflow:global_step/sec: 161.118
INFO:tensorflow:loss = 40.1968, step = 8501 (0.622 sec)
INFO:tensorflow:global_step/sec: 159.413
INFO:tensorflow:loss = 30.9891, step = 8601 (0.626 sec)
INFO:tensorflow:global_step/sec: 126.682
INFO:tensorflow:loss = 43.1131, step = 8701 (0.789 sec)
INFO:tensorflow:global_step/sec: 159.461
INFO:tensorflow:loss = 37.5496, step = 8801 (0.628 sec)
INFO:tensorflow:global_step/sec: 159.539
INFO:tensorflow:loss = 39.7885, step = 8901 (0.626 sec)
INFO:tensorflow:global_step/sec: 164.404
INFO:tensorflow:loss = 39.4162, step = 9001 (0.608 sec)
INFO:tensorflow:global_step/sec: 166.214
INFO:tensorflow:loss = 41.5216, step = 9101 (0.602 sec)
INFO:tensorflow:global_step/sec: 147.247
INFO:tensorflow:loss = 47.9226, step = 9201 (0.679 sec)
INFO:tensorflow:global_step/sec: 154.074
INFO:tensorflow:loss = 47.5437, step = 9301 (0.649 sec)
INFO:tensorflow:global_step/sec: 166.425
INFO:tensorflow:loss = 37.6379, step = 9401 (0.601 sec)
INFO:tensorflow:global_step/sec: 144.335
INFO:tensorflow:loss = 46.9619, step = 9501 (0.692 sec)
INFO:tensorflow:global_step/sec: 153.47
INFO:tensorflow:loss = 34.1951, step = 9601 (0.652 sec)
INFO:tensorflow:global_step/sec: 137.195
INFO:tensorflow:loss = 39.0979, step = 9701 (0.731 sec)
INFO:tensorflow:global_step/sec: 74.306
INFO:tensorflow:loss = 31.087, step = 9801 (1.344 sec)
INFO:tensorflow:global_step/sec: 157.344
INFO:tensorflow:loss = 39.8034, step = 9901 (0.634 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpfaaji72k/model.ckpt.
INFO:tensorflow:Loss for final step: 33.4067.

In [18]:
# Create the input function for the test data
pred_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), 
                                                      num_epochs=1, shuffle=False)

In [19]:
# Create the predictions dictionnary (0 if salary <=50K$ else 1)

y_pred = []

for pred in list(clf.predict(input_fn=pred_input_func)):
    
    y_pred.append(pred['class_ids'][0])

INFO:tensorflow:Restoring parameters from /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpfaaji72k/model.ckpt-10000

In [20]:
# Check our results on a classification report

from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.88      0.90      0.89      7436
          1       0.64      0.59      0.62      2333

avg / total       0.82      0.82      0.82      9769