# Classification On California Census Data

Find who whon less or equal to 50k$

In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
# Create the data frame with the California Census Data
df = pd.read_csv("census_data.csv")

In [3]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,32561.0,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
education_num,32561.0,10.080679,2.572720,1.0,9.0,10.0,12.0,16.0
capital_gain,32561.0,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital_loss,32561.0,87.303830,402.960219,0.0,0.0,0.0,0.0,4356.0
hours_per_week,32561.0,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
age               32561 non-null int64
workclass         32561 non-null object
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income_bracket    32561 non-null object
dtypes: int64(5), object(9)
memory usage: 3.5+ MB

In [6]:
df["income_bracket"].unique()

array([' <=50K', ' >50K'], dtype=object)

In [7]:
# Change the target value for 0 and 1

df["income_bracket"] = df["income_bracket"].apply(lambda x: 0 if x == ' <=50K' else 1)

In [8]:
# Train test split the data

from sklearn.model_selection import train_test_split

X = df.drop("income_bracket", axis=1)

y = df["income_bracket"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
# Create a list of the features
feat_cols = X_train.columns

In [10]:
# Separate the categorical cols to the numerical ones

# numerical
num_cols = []

# Categorical
cat_cols = []

for col in feat_cols:
    if X_train[col].dtype == "object":
        cat_cols.append(col)
    else:
        num_cols.append(col)
        
print("Numerical:",num_cols)
print("\n")
print("Categorical:",cat_cols)

Numerical: ['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']


Categorical: ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'gender', 'native_country']

In [11]:
# Create the tf objects for every columns
feat_cols = []

# Transform the categorical value with hash bucket 
for col in cat_cols:
    
    uniqueValue = len(X_train[col].unique())
    
    # Using hashbucket
    exec(f"{col} = tf.feature_column.categorical_column_with_hash_bucket({'col'}, hash_bucket_size={uniqueValue})")
    
    # create embedded columns out of the cateogrical feature
    exec(f"{col} = tf.feature_column.embedding_column({col}, dimension={uniqueValue})")

    exec(f"feat_cols.append({col})")

for col in num_cols:
    
    exec(f"{col} = tf.feature_column.numeric_column('{col}')")
    
    exec(f"feat_cols.append({col})")

In [12]:
feat_cols

[_EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='workclass', hash_bucket_size=9, dtype=tf.string), dimension=9, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120dda0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='education', hash_bucket_size=16, dtype=tf.string), dimension=16, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120d518>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='marital_status', hash_bucket_size=7, dtype=tf.string), dimension=7, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120ddd8>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='occupation', hash_bucket_size=15, dtype=tf.string), dimension=15, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120de10>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='relationship', hash_bucket_size=6, dtype=tf.string), dimension=6, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120d5c0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='race', hash_bucket_size=5, dtype=tf.string), dimension=5, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120de80>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='gender', hash_bucket_size=2, dtype=tf.string), dimension=2, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120def0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _EmbeddingColumn(categorical_column=_HashedCategoricalColumn(key='native_country', hash_bucket_size=42, dtype=tf.string), dimension=42, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x1a1120df28>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, max_norm=None, trainable=True),
 _NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='education_num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='hours_per_week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [13]:
# Create the tuning parameters

batchSize=100
numEpochs = 20000
numSteps = 10000
hiddenUnit = [10,20,20,20,10]
dropOut = 0.01

In [14]:
# Create the input function
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=batchSize, 
                                                 num_epochs=numEpochs, shuffle=True)

In [15]:
# Initialize the classifier (DNNClassifier)

clf = tf.estimator.DNNClassifier(hidden_units=hiddenUnit, feature_columns=feat_cols, dropout=dropOut)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpytew64dv
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpytew64dv', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [16]:
# Train the model on the test_datas
clf.train(input_fn=input_func, steps=numSteps)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpytew64dv/model.ckpt.
INFO:tensorflow:loss = 412.073, step = 1
INFO:tensorflow:global_step/sec: 135.19
INFO:tensorflow:loss = 46.1827, step = 101 (0.741 sec)
INFO:tensorflow:global_step/sec: 146.649
INFO:tensorflow:loss = 32.3489, step = 201 (0.683 sec)
INFO:tensorflow:global_step/sec: 148.378
INFO:tensorflow:loss = 43.0974, step = 301 (0.674 sec)
INFO:tensorflow:global_step/sec: 142.263
INFO:tensorflow:loss = 50.5656, step = 401 (0.703 sec)
INFO:tensorflow:global_step/sec: 141.862
INFO:tensorflow:loss = 41.3097, step = 501 (0.705 sec)
INFO:tensorflow:global_step/sec: 140.565
INFO:tensorflow:loss = 32.788, step = 601 (0.711 sec)
INFO:tensorflow:global_step/sec: 148.468
INFO:tensorflow:loss = 34.0014, step = 701 (0.673 sec)
INFO:tensorflow:global_step/sec: 152.286
INFO:tensorflow:loss = 49.3322, step = 801 (0.657 sec)
INFO:tensorflow:global_step/sec: 151.346
INFO:tensorflow:loss = 35.2704, step = 901 (0.661 sec)
INFO:tensorflow:global_step/sec: 144.054
INFO:tensorflow:loss = 46.0731, step = 1001 (0.694 sec)
INFO:tensorflow:global_step/sec: 156.423
INFO:tensorflow:loss = 36.0727, step = 1101 (0.639 sec)
INFO:tensorflow:global_step/sec: 153.139
INFO:tensorflow:loss = 36.5156, step = 1201 (0.653 sec)
INFO:tensorflow:global_step/sec: 146.99
INFO:tensorflow:loss = 38.2782, step = 1301 (0.680 sec)
INFO:tensorflow:global_step/sec: 148.978
INFO:tensorflow:loss = 41.3432, step = 1401 (0.671 sec)
INFO:tensorflow:global_step/sec: 150.65
INFO:tensorflow:loss = 45.7197, step = 1501 (0.664 sec)
INFO:tensorflow:global_step/sec: 153.971
INFO:tensorflow:loss = 43.257, step = 1601 (0.650 sec)
INFO:tensorflow:global_step/sec: 143.429
INFO:tensorflow:loss = 40.2025, step = 1701 (0.697 sec)
INFO:tensorflow:global_step/sec: 150.84
INFO:tensorflow:loss = 45.5429, step = 1801 (0.663 sec)
INFO:tensorflow:global_step/sec: 162.026
INFO:tensorflow:loss = 49.867, step = 1901 (0.617 sec)
INFO:tensorflow:global_step/sec: 164.404
INFO:tensorflow:loss = 31.5781, step = 2001 (0.608 sec)
INFO:tensorflow:global_step/sec: 164.95
INFO:tensorflow:loss = 29.5753, step = 2101 (0.606 sec)
INFO:tensorflow:global_step/sec: 166.26
INFO:tensorflow:loss = 39.4776, step = 2201 (0.601 sec)
INFO:tensorflow:global_step/sec: 167.47
INFO:tensorflow:loss = 36.8555, step = 2301 (0.597 sec)
INFO:tensorflow:global_step/sec: 165.839
INFO:tensorflow:loss = 35.6266, step = 2401 (0.603 sec)
INFO:tensorflow:global_step/sec: 167.021
INFO:tensorflow:loss = 40.0172, step = 2501 (0.599 sec)
INFO:tensorflow:global_step/sec: 166.132
INFO:tensorflow:loss = 41.5885, step = 2601 (0.602 sec)
INFO:tensorflow:global_step/sec: 167.095
INFO:tensorflow:loss = 38.6747, step = 2701 (0.598 sec)
INFO:tensorflow:global_step/sec: 167.626
INFO:tensorflow:loss = 43.3347, step = 2801 (0.597 sec)
INFO:tensorflow:global_step/sec: 166.942
INFO:tensorflow:loss = 27.6148, step = 2901 (0.599 sec)
INFO:tensorflow:global_step/sec: 160.733
INFO:tensorflow:loss = 45.7949, step = 3001 (0.622 sec)
INFO:tensorflow:global_step/sec: 166.723
INFO:tensorflow:loss = 40.1261, step = 3101 (0.599 sec)
INFO:tensorflow:global_step/sec: 166.756
INFO:tensorflow:loss = 36.6513, step = 3201 (0.600 sec)
INFO:tensorflow:global_step/sec: 166.796
INFO:tensorflow:loss = 29.045, step = 3301 (0.599 sec)
INFO:tensorflow:global_step/sec: 165.216
INFO:tensorflow:loss = 44.9357, step = 3401 (0.606 sec)
INFO:tensorflow:global_step/sec: 164.399
INFO:tensorflow:loss = 52.7963, step = 3501 (0.608 sec)
INFO:tensorflow:global_step/sec: 159.369
INFO:tensorflow:loss = 36.2799, step = 3601 (0.628 sec)
INFO:tensorflow:global_step/sec: 162.684
INFO:tensorflow:loss = 51.1574, step = 3701 (0.615 sec)
INFO:tensorflow:global_step/sec: 152.523
INFO:tensorflow:loss = 30.5395, step = 3801 (0.656 sec)
INFO:tensorflow:global_step/sec: 143.943
INFO:tensorflow:loss = 36.273, step = 3901 (0.695 sec)
INFO:tensorflow:global_step/sec: 149.376
INFO:tensorflow:loss = 36.239, step = 4001 (0.669 sec)
INFO:tensorflow:global_step/sec: 160.241
INFO:tensorflow:loss = 44.907, step = 4101 (0.624 sec)
INFO:tensorflow:global_step/sec: 162.83
INFO:tensorflow:loss = 34.9722, step = 4201 (0.614 sec)
INFO:tensorflow:global_step/sec: 164.255
INFO:tensorflow:loss = 40.4679, step = 4301 (0.609 sec)
INFO:tensorflow:global_step/sec: 165.825
INFO:tensorflow:loss = 50.97, step = 4401 (0.603 sec)
INFO:tensorflow:global_step/sec: 165.903
INFO:tensorflow:loss = 40.5984, step = 4501 (0.603 sec)
INFO:tensorflow:global_step/sec: 165.466
INFO:tensorflow:loss = 38.2827, step = 4601 (0.604 sec)
INFO:tensorflow:global_step/sec: 166.695
INFO:tensorflow:loss = 34.9953, step = 4701 (0.600 sec)
INFO:tensorflow:global_step/sec: 166.647
INFO:tensorflow:loss = 46.4156, step = 4801 (0.600 sec)
INFO:tensorflow:global_step/sec: 166.899
INFO:tensorflow:loss = 31.1373, step = 4901 (0.599 sec)
INFO:tensorflow:global_step/sec: 164.887
INFO:tensorflow:loss = 34.169, step = 5001 (0.606 sec)
INFO:tensorflow:global_step/sec: 166.242
INFO:tensorflow:loss = 35.7128, step = 5101 (0.602 sec)
INFO:tensorflow:global_step/sec: 160.228
INFO:tensorflow:loss = 31.1433, step = 5201 (0.624 sec)
INFO:tensorflow:global_step/sec: 166.603
INFO:tensorflow:loss = 34.5969, step = 5301 (0.600 sec)
INFO:tensorflow:global_step/sec: 168.025
INFO:tensorflow:loss = 38.9061, step = 5401 (0.595 sec)
INFO:tensorflow:global_step/sec: 165.312
INFO:tensorflow:loss = 35.0383, step = 5501 (0.605 sec)
INFO:tensorflow:global_step/sec: 165.584
INFO:tensorflow:loss = 29.2256, step = 5601 (0.604 sec)
INFO:tensorflow:global_step/sec: 166.291
INFO:tensorflow:loss = 35.2656, step = 5701 (0.601 sec)
INFO:tensorflow:global_step/sec: 166.721
INFO:tensorflow:loss = 29.7014, step = 5801 (0.600 sec)
INFO:tensorflow:global_step/sec: 164.645
INFO:tensorflow:loss = 37.0758, step = 5901 (0.607 sec)
INFO:tensorflow:global_step/sec: 166.095
INFO:tensorflow:loss = 42.5624, step = 6001 (0.602 sec)
INFO:tensorflow:global_step/sec: 166.524
INFO:tensorflow:loss = 30.4779, step = 6101 (0.600 sec)
INFO:tensorflow:global_step/sec: 165.324
INFO:tensorflow:loss = 34.4171, step = 6201 (0.605 sec)
INFO:tensorflow:global_step/sec: 164.182
INFO:tensorflow:loss = 33.259, step = 6301 (0.609 sec)
INFO:tensorflow:global_step/sec: 165.902
INFO:tensorflow:loss = 34.6772, step = 6401 (0.603 sec)
INFO:tensorflow:global_step/sec: 166.585
INFO:tensorflow:loss = 37.5621, step = 6501 (0.600 sec)
INFO:tensorflow:global_step/sec: 166.455
INFO:tensorflow:loss = 37.295, step = 6601 (0.601 sec)
INFO:tensorflow:global_step/sec: 163.572
INFO:tensorflow:loss = 35.5319, step = 6701 (0.611 sec)
INFO:tensorflow:global_step/sec: 161.183
INFO:tensorflow:loss = 44.5579, step = 6801 (0.620 sec)
INFO:tensorflow:global_step/sec: 166.662
INFO:tensorflow:loss = 41.8524, step = 6901 (0.600 sec)
INFO:tensorflow:global_step/sec: 166.564
INFO:tensorflow:loss = 45.4484, step = 7001 (0.600 sec)
INFO:tensorflow:global_step/sec: 166.222
INFO:tensorflow:loss = 33.4147, step = 7101 (0.602 sec)
INFO:tensorflow:global_step/sec: 167.027
INFO:tensorflow:loss = 42.1297, step = 7201 (0.599 sec)
INFO:tensorflow:global_step/sec: 162.932
INFO:tensorflow:loss = 32.6326, step = 7301 (0.614 sec)
INFO:tensorflow:global_step/sec: 164.973
INFO:tensorflow:loss = 34.3983, step = 7401 (0.606 sec)
INFO:tensorflow:global_step/sec: 164.862
INFO:tensorflow:loss = 31.0846, step = 7501 (0.606 sec)
INFO:tensorflow:global_step/sec: 164.174
INFO:tensorflow:loss = 31.4817, step = 7601 (0.609 sec)
INFO:tensorflow:global_step/sec: 166.226
INFO:tensorflow:loss = 44.2074, step = 7701 (0.602 sec)
INFO:tensorflow:global_step/sec: 165.521
INFO:tensorflow:loss = 38.0793, step = 7801 (0.604 sec)
INFO:tensorflow:global_step/sec: 166.894
INFO:tensorflow:loss = 26.1298, step = 7901 (0.600 sec)
INFO:tensorflow:global_step/sec: 165.833
INFO:tensorflow:loss = 41.6597, step = 8001 (0.603 sec)
INFO:tensorflow:global_step/sec: 165.584
INFO:tensorflow:loss = 40.6264, step = 8101 (0.604 sec)
INFO:tensorflow:global_step/sec: 159.68
INFO:tensorflow:loss = 40.76, step = 8201 (0.626 sec)
INFO:tensorflow:global_step/sec: 165.695
INFO:tensorflow:loss = 36.709, step = 8301 (0.604 sec)

INFO:tensorflow:global_step/sec: 162.275
INFO:tensorflow:loss = 37.0871, step = 8401 (0.616 sec)
INFO:tensorflow:global_step/sec: 167.24
INFO:tensorflow:loss = 39.0764, step = 8501 (0.598 sec)
INFO:tensorflow:global_step/sec: 168.162
INFO:tensorflow:loss = 35.0023, step = 8601 (0.595 sec)
INFO:tensorflow:global_step/sec: 167.251
INFO:tensorflow:loss = 37.2984, step = 8701 (0.598 sec)
INFO:tensorflow:global_step/sec: 167.511
INFO:tensorflow:loss = 33.2957, step = 8801 (0.597 sec)
INFO:tensorflow:global_step/sec: 167.713
INFO:tensorflow:loss = 45.7001, step = 8901 (0.596 sec)
INFO:tensorflow:global_step/sec: 167.566
INFO:tensorflow:loss = 41.9354, step = 9001 (0.597 sec)
INFO:tensorflow:global_step/sec: 167.803
INFO:tensorflow:loss = 36.6156, step = 9101 (0.596 sec)
INFO:tensorflow:global_step/sec: 168.201
INFO:tensorflow:loss = 40.3436, step = 9201 (0.595 sec)
INFO:tensorflow:global_step/sec: 165.597
INFO:tensorflow:loss = 31.1461, step = 9301 (0.604 sec)
INFO:tensorflow:global_step/sec: 166.985
INFO:tensorflow:loss = 41.0656, step = 9401 (0.599 sec)
INFO:tensorflow:global_step/sec: 167.553
INFO:tensorflow:loss = 41.4369, step = 9501 (0.597 sec)
INFO:tensorflow:global_step/sec: 161.182
INFO:tensorflow:loss = 27.2263, step = 9601 (0.620 sec)
INFO:tensorflow:global_step/sec: 167.581
INFO:tensorflow:loss = 39.5755, step = 9701 (0.597 sec)
INFO:tensorflow:global_step/sec: 167.561
INFO:tensorflow:loss = 32.9931, step = 9801 (0.597 sec)
INFO:tensorflow:global_step/sec: 167.466
INFO:tensorflow:loss = 33.0398, step = 9901 (0.597 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpytew64dv/model.ckpt.
INFO:tensorflow:Loss for final step: 38.6371.

In [17]:
# Create the input function for the test data
eval_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=batchSize, 
                                                      num_epochs=1, shuffle=False)

In [18]:
# Create the predictions dictionnary (0 if salary <=50K$ else 1)

y_pred = []

for pred in list(clf.predict(input_fn=eval_input_func)):
    
    y_pred.append(pred['class_ids'][0])

INFO:tensorflow:Restoring parameters from /var/folders/gf/bvnvfh0s21x1yrbw8vsz0mt00000gn/T/tmpytew64dv/model.ckpt-10000

In [19]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.85      0.94      0.89      8196
          1       0.72      0.47      0.57      2550

avg / total       0.82      0.83      0.82     10746